# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
apispec
apispec-webframeworks
click
flask
flask-blueprint
flask-swagger-ui
openapi-schema-validator
openapi-spec-validator
pytest
marshmallow
